[submodule "sketches/monitor/SoilMoistureSensorCalibratedSerial"]
	path = sketches/monitor/SoilMoistureSensorCalibratedSerial
	url = https://github.com/GreenSense/SoilMoistureSensorCalibratedSerial.git
[submodule "apps/BridgeArduinoSerialToMqttSplitCsv"]
	path = apps/BridgeArduinoSerialToMqttSplitCsv
	url = https://github.com/CompulsiveCoder/BridgeArduinoSerialToMqttSplitCsv.git
[submodule "sketches/irrigator/SoilMoistureSensorCalibratedPump"]
	path = sketches/irrigator/SoilMoistureSensorCalibratedPump
	url = https://github.com/GreenSense/SoilMoistureSensorCalibratedPump
