[submodule "sketches/monitor/SoilMoistureSensorCalibratedSerial"]
	path = sketches/monitor/SoilMoistureSensorCalibratedSerial
	url = https://github.com/GreenSense/SoilMoistureSensorCalibratedSerial.git
