 [Unit]
 Description=GreenSense Mosquitto Docker Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "mkdir -p /usr/local/mosquitto; cd /usr/local/mosquitto/; sh run-mosquitto-arm.sh"

 [Install]
 WantedBy=multi-user.target
