 [Unit]
 Description=GrowSense nginx Public Docker Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "cd /home/j/workspace/GrowSense/Index/scripts/docker/nginx-public && sh start-nginx-arm-public.sh > /home/j/Desktop/nginx-public.log"

 [Install]
 WantedBy=multi-user.target
