 [Unit]
 Description=GreenSense nginx Public Docker Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "cd /home/j/workspace/GreenSense/Index/scripts/docker/nginx-public && sh start-nginx-arm-public.sh"

 [Install]
 WantedBy=multi-user.target
