<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DeviceAddedCommand" value="cd workspace/GreenSense/Index && sh auto-add-device.sh {BOARD} {FAMILY} {GROUP} {PROJECT} {PORT}" />
        <add key="DeviceRemovedCommand" value="cd workspace/GreenSense/Index && sh auto-remove-device.sh {BOARD} {FAMILY} {GROUP} {PROJECT} {PORT}" />
    </appSettings>
</configuration>
