<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DeviceAddedCommand" value="cd ../../..; sh auto-connect-device.sh {BOARD} {FAMILY} {GROUP} {PROJECT} {PORT}" />
        <add key="DeviceRemovedCommand" value="cd ../../..; sh auto-disconnect-device.sh {PORT}" />
    </appSettings>
</configuration>
