<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DeviceAddedCommand" value="sh auto-add-device-from-github.sh {BOARD} {FAMILY} {GROUP} {PROJECT} {PORT}" />
        <add key="DeviceRemovedCommand" value="sh auto-remove-device-from-github.sh {BOARD} {FAMILY} {GROUP} {PROJECT} {PORT}" />
    </appSettings>
</configuration>
