 [Unit]
 Description=GrowSense 1602 LCD Shield System UI Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "bash /usr/local/GrowSense/Index/wait-for-plug-and-play.sh && cd /usr/local/Serial1602ShieldSystemUIController/; bash start-ui-controller.sh master --SerialPort=/dev/ttyUSB0 --DeviceName ui1 --DevicesDirectory=/usr/local/GrowSense/Index/devices"

 [Install]
 WantedBy=multi-user.target
