 [Unit]
 Description=GrowSense 1602 LCD Shield System UI Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "bash {IndexPath}/wait-for-plug-and-play.sh && cd {IndexPath}/scripts/apps/Serial1602ShieldSystemUIController/ && bash start-ui-controller.sh --SerialPort={Port} --DeviceName={DeviceName} --DevicesDirectory={IndexPath}/devices"

 [Install]
 WantedBy=multi-user.target
