 [Unit]
 Description=GrowSense Network Reconnect Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "mkdir -p /usr/local/GrowSense/Index/; cd /usr/local/GrowSense/Index/; bash network-reconnect.sh"

 [Install]
 WantedBy=multi-user.target
