 [Unit]
 Description=GrowSense System Supervisor Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "mkdir -p /usr/local/GrowSense/Index/; cd /usr/local/GrowSense/Index/; bash supervise-ongoing.sh"

 [Install]
 WantedBy=multi-user.target
