 [Unit]
 Description=GrowSense Network Setup Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "mkdir -p /usr/local/GrowSense/Index/; cd /usr/local/GrowSense/Index/; echo "Disabled because it's not working properly yet" # bash network-setup.sh"

 [Install]
 WantedBy=multi-user.target
