 [Unit]
 Description=GreenSense MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "cd /home/j/workspace/GreenSense/Index/scripts/apps/BridgeArduinoSerialToMqttSplitCsv/ && sh start-mqtt-bridge.sh --DeviceName=Monitor1 --SerialPort=/dev/ttyUSB0 --SubscribeTopics=D,W,V > svc/Monitor1Log.txt"

 [Install]
 WantedBy=multi-user.target
