 [Unit]
 Description=GreenSense Ventilator MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "mkdir -p /usr/local/BridgeArduinoSerialToMqttSplitCsv/; cd /usr/local/BridgeArduinoSerialToMqttSplitCsv/; sh start-mqtt-bridge.sh --DeviceName=ventilator1 --SerialPort=/dev/ttyUSB0 --SubscribeTopics=I,F,G,J,R,U,S,Q --SummaryKey=A"

 [Install]
 WantedBy=multi-user.target
