 [Unit]
 Description=GreenSense Irrigator MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "cd /home/j/workspace/GreenSense/Index/scripts/apps/BridgeArduinoSerialToMqttSplitCsv/ && sh start-mqtt-bridge.sh --DeviceName=irrigator1 --SerialPort=/dev/ttyUSB1 --SubscribeTopics=D,W,T,P,V,B,O > svc/irrigator1log.txt"

 [Install]
 WantedBy=multi-user.target
