 [Unit]
 Description=GrowSense Illuminator MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "bash {IndexPath}/wait-for-plug-and-play.sh && cd {IndexPath}/scripts/apps/BridgeArduinoSerialToMqttSplitCsv/; bash start-mqtt-bridge.sh --DeviceName=illuminator1 --SerialPort=/dev/ttyUSB0 --SubscribeTopics='M,I,D,B,E,F,G,H,T,Q,C:' --SummaryKey=L"

 [Install]
 WantedBy=multi-user.target
