 [Unit]
 Description=GrowSense Ventilator MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "bash {IndexPath}/wait-for-plug-and-play.sh && cd {IndexPath}/scripts/apps/BridgeArduinoSerialToMqttSplitCsv/; bash start-mqtt-bridge.sh --DeviceName=ventilator1 --SerialPort=/dev/ttyUSB0 --SubscribeTopics=I,M,G,J,R,U,S,Q --SummaryKey=A"

 [Install]
 WantedBy=multi-user.target
