 [Unit]
 Description=GrowSense MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/bash -c "bash {IndexPath}/wait-for-plug-and-play.sh && cd {IndexPath}/scripts/apps/BridgeArduinoSerialToMqttSplitCsv/; bash start-mqtt-bridge.sh --DeviceName=monitor1 --SerialPort=/dev/ttyUSB0 --SubscribeTopics=D,W,I,F,Q --SummaryKey=C"

 [Install]
 WantedBy=multi-user.target
