 [Unit]
 Description=GrowSense Jenkins Docker Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "wget -O - https://raw.githubusercontent.com/GrowSense/Index/master/scripts/docker/jenkins/run-jenkins-arm-with-6-devices.sh | sh -s"

 [Install]
 WantedBy=multi-user.target
