 [Unit]
 Description=GreenSense Jenkins Docker Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "cd /home/j/workspace/GreenSense/Index/scripts/docker/jenkins && (sh run-jenkins-arm.sh > service-log.txt)"

 [Install]
 WantedBy=multi-user.target
