 [Unit]
 Description=GreenSense Jenkins Docker Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "wget -O - https://raw.githubusercontent.com/GreenSense/Index/master/scripts/docker/jenkins/run-jenkins-arm.sh | sh -s"

 [Install]
 WantedBy=multi-user.target
